.cartcounter {
	display: flex;
	width: 150px;
	border-radius: 10px;
	background-color: var(--neutral-200);
	padding: 1em 1.5em;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

.increase:hover,
.decrease:hover {
	opacity: 0.75;
}

.decrease {
	transform: translateY(-15%);
}
